**/node_modules
**/dist
**/.env
**/.log
**/.tmp

# Build artifacts
**/m2e.app
**/bin/**
coverage.html
coverage.out

# VSCode extension
vscode-extension/out/
vscode-extension/.vscode-test/
vscode-extension/*.vsix
vscode-extension/.nyc_output/
vscode-extension/coverage/

build/**/m2e-server
build/**/m2e-cli
build/**/m2e-mcp
build/**/m2e

# serena https://github.com/oraios/serena
.serena/cache
cpu.prof

m2e-mcp
m2e-server
