**/node_modules
**/dist
**/.env
**/.log
**/.tmp

# Build artifacts
**/m2e.app
**/bin/**
coverage.html
coverage.out

# VSCode extension
vscode-extension/out/
vscode-extension/.vscode-test/
vscode-extension/*.vsix
vscode-extension/.nyc_output/
vscode-extension/coverage/
